/* Project Cards */
#project-cards .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: center;
}

#project-cards .project-img {
  width: 33.75rem;
  height: 31.25rem;
  margin-left: 2rem;
}

#project-cards .project-info {
  width: 350px;
  height: 500px;
  margin-left: 8rem;
  border-top: 1px solid rgba(51, 50, 61, 0.2);
  border-bottom: 1px solid rgba(84, 79, 138, 0.2);

}

#project-cards .project-info h2 {
  margin-top: 3rem;
}

#project-cards .project-info p {
  color: var(--primary-color-dark);
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.875;
  opacity: 0.8;
}

#project-cards .project-info a {
  margin-top: 2rem;
}

#project-cards .right-card {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#project-cards .right-card .project-info {
  margin-left: 8rem;
  margin-right: 6rem;
}


#cta {
  margin-top: 8rem;
}