/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Custom Properties(Variables) */
:root {
  --primary-color-light: #5fb4a2;
  --primary-color-dark: #33323d;
  --primary-color-medium: #203a4c;

  --bg-color: #fafafa;
  --text-color: #eaeaeb;
  --errors-color: #f43030;

  --max-width: 1280px;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Ibarra Real Nova', serif;
}

body {
  background: var(--bg-color);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.btn {
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  padding: 10px 20px;
  background-color: var(--primary-color-light);
  transition: all 0.3s ease-in;
}



/* Navigation */

#main-nav .container {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}

#main-nav .logo {
  height: 32px;
  width: 60px;
}

#main-nav ul {
  display: flex;
}

#main-nav ul li a {
  color: var(--primary-color-dark);
  padding: 10px 20px;
}

#main-nav ul li a:hover {
  color: var(--primary-color-light);
  border-bottom: solid 2px var(--primary-color-light);
}

#main-nav ul li a.current {
  color: var(--primary-color-light);
}

/* Showcase */
#showcase .container {
  display: flex;
  background: url('/img/bg-img.jpg') no-repeat center center/cover;
  color: var(--text-color);
  height: 85vh;
  position: relative;
}

#showcase .container .content {
  height: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 8.5rem;
  z-index: 10;
}

#showcase .container .content span {
  color: var(--primary-color-light);
  font-size: 4rem;
}

#showcase .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 50, 61, 0.7);
}

#showcase * {
  z-index: 10;
}

#showcase .container .content a {
  color: var(--text-color);
  padding: 15px 30px;
  margin-top: 3rem;
  font-size: 1rem;
  border-radius: 5px;
}

#showcase .container .content a:hover {
  color: var(--primary-color-light);
  background-color: var(--text-color);
}

/* Animations */
#showcase .container .content h1 {
  transform: translateY(-1200px);
  animation: heading 2s forwards ease-in;
}

#showcase .container .content a {
  transform: translateY(1200px);
  animation: button 2s forwards ease-in 1s;

}

/* Keyframes */
@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes button {
  to {
    transform: translateX(0);
  }
}