/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Custom Properties(Variables) */
:root {
  --primary-color-light: #5fb4a2;
  --primary-color-dark: #33323d;
  --primary-color-medium: #203a4c;

  --bg-color: #fafafa;
  --text-color: #eaeaeb;
  --errors-color: #f43030;

  --max-width: 1280px;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Ibarra Real Nova', serif;
}

body {
  background: var(--bg-color);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}



/* Navigation */
#main-nav {}

#main-nav .container {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}

#main-nav .logo {
  height: 32px;
  width: 60px;
}

#main-nav ul {
  display: flex;
}

#main-nav ul li a {
  color: var(--primary-color-dark);
  padding: 10px 20px;
}

#main-nav ul li a.current {
  color: var(--primary-color-light);
}