/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Custom Properties(Variables) */
:root {
  --primary-color-light: #5fb4a2;
  --primary-color-dark: #33323d;
  --primary-color-medium: #203a4c;

  --bg-color: #fafafa;
  --text-color: #eaeaeb;
  --errors-color: #f43030;

  --max-width: 1280px;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Ibarra Real Nova", serif;
}

body {
  background: var(--bg-color);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 40px;
  line-height: 2.6;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

.logo {
  height: 32px;
  width: 60px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  color: var(--primary-color-dark);
  padding: 15px 30px;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color-dark);
  transition: all 0.3s ease-in;
}

.btn:hover {
  color: var(--bg-color);
  background-color: var(--primary-color-dark);
}

.icon {
  height: 24px;
  width: 25px;
}

/* Navigation */

#main-nav .container {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 70px;
}

#main-nav ul {
  display: flex;
}

#main-nav ul li a {
  color: var(--primary-color-dark);
  padding: 10px 20px;
}

#main-nav ul li a:hover {
  color: var(--primary-color-light);
  border-bottom: solid 2px var(--primary-color-light);
}

#main-nav ul li a.current {
  color: var(--primary-color-light);
}

/* Showcase */
#showcase .container {
  display: flex;
  background: url("../img/bg-img.jpg") no-repeat center center/cover;
  color: var(--text-color);
  height: 85vh;
  position: relative;
  width: 90%;
}

#showcase .container .content {
  height: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 8.5rem;
  z-index: 10;
}

#showcase .container .content span {
  color: var(--primary-color-light);
  font-size: 4rem;
}

#showcase .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 50, 61, 0.7);
}

#showcase * {
  z-index: 10;
}

#showcase .container .content a {
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  padding: 15px 30px;
  background-color: var(--primary-color-light);

  transition: all 0.3s ease-in;

  margin-top: 3rem;
  font-size: 1rem;
  border-radius: 5px;
}

#showcase .container .content a:hover {
  color: var(--primary-color-light);
  background-color: var(--text-color);
}

/* Animations */
#showcase .container .content h1 {
  transform: translateY(-1200px);
  animation: heading 2s forwards ease-in;
}

#showcase .container .content a {
  transform: translateY(1200px);
  animation: button 2s forwards ease-in 1s;
}

/* Keyframes */
@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes button {
  to {
    transform: translateX(0);
  }
}

/* About Section */
#about .container {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 85vh;
}

#about .about-img {
  flex-direction: column;
  flex-basis: 50%;
  margin: 2rem;
}

#about .about-img img {
  object-fit: contain;
}

#about .about-content {
  flex-direction: column;
  flex-basis: 50%;
  margin: 2rem 2rem 0 2rem;
  padding: 1rem 3rem;
  border-top: 1px solid rgba(51, 50, 61, 0.2);
  border-bottom: 1px solid rgba(51, 50, 61, 0.2);
}

#about .about-content p {
  color: var(--primary-color-dark);
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.875;
  opacity: 0.8;
}

#about .about-content a {
  margin-top: 2rem;
}

/* CTA Section */
#cta .container {
  display: flex;
  height: 30vh;
  margin: 6rem 1rem 1rem 4rem;
}

#cta .cta-text {
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2rem;
}

#cta .cta-text p {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 40px;
}

#cta .cta-line {
  flex: 1;
  border-top: 1px solid rgba(51, 50, 61, 0.2);
  margin-top: 3.5rem;
}

#cta .cta-btn {
  width: 20%;
  text-align: center;
  margin-top: 1.75rem;
}

/* Footer */
#footer .container {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 70px;
  background-color: var(--primary-color-dark);
  max-width: 100%;
  margin: 0;
}

#footer .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .logo {
  margin-left: 4rem;
}

#footer ul {
  display: flex;
  margin-left: 1rem;
}

#footer ul li a {
  color: #ffffff;
  padding: 10px 20px;
}

#footer ul li a:hover {
  color: var(--primary-color-light);
}

#footer .social-icons {
  margin-right: 2rem;
}

#footer .social-icons a img.icon {
  margin-right: 0.5rem;
}

#footer .social-icons a img.icon:hover {
  fill: var(--primary-color-light);
}
